[Unit]
Description=calls fix-suspend.service 30 seconds after boot

[Timer]
OnStartupSec=30s
RandomizedDelaySec=10
Unit=fix-suspend.service

[Install]
WantedBy=multi-user.target